@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar__logo {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 700;
}

.navbar__notch {
    background: #F7F7F7;
    padding: 8px 20px 8px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 2rem;
    border: 1px solid #CCC;
}

.navbar__notch p {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
}

.navbar__notch p::before {
    position: absolute;
    content: "";
    background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.navbar__notch a {
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
}

.navbar__notch a::before {
    position: absolute;
    content: "New";
    padding: 2px 6px;
    background: #D85F44;
    color: #FFF;
    font-size: 0.7rem;
    border-radius: 10px;
    top: -18px;
    right: -12px;
}

.navbar__menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar__menu-link {
    font-size: 0.8rem;
    font-weight: 600;
    background: #F7F7F7;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #CCC;
    transition: all 0.3s ease;
}

.navbar__menu-link:hover,
.hero-course__mode-option.selected,
.hero-course__duration-option.selected {
    background: #EDEFDE;
    border-color: transparent;
}

.hero {
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 3rem;
    padding: 0 40px;
}

.hero__image {
    width: 50%;
    height: 90%;
    border-radius: 3rem;
}

.hero-course {
    width: 50%;
}

.hero-course__title {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.hero-course__author {
    display: inline;
    font-weight: 600;
    margin-right: 1rem;
}

.hero-course__rating {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.hero-course__stars {
    display: flex;
    font-size: 1rem;
}

.hero-course__reviews {
    font-size: 0.8rem;
    font-weight: 600;
}

.hero-course__label {
    margin: 1.5rem 0 0.7rem;
    font-size: 1rem;
}

.hero-course__mode-option,
.hero-course__duration-option,
.hero-course__button {
    padding: 0.4rem 1rem;
    margin-left: 0.4rem;
    border-radius: 2rem;
    background: #FFF;
    border: 1px solid #CCC;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-course__mode-option:hover,
.hero-course__duration-option:hover,
.hero-course__button:hover {
    background: #F7F7F7;
}

.hero-course__actions {
    margin-top: 2rem;
}

.hero-course__price {
    font-weight: 700;
    margin-left: 1.2rem;
    font-size: 1.2rem;
}

.hero-course__price-original {
    margin-left: 0.6rem;
    color: #808080;
    text-decoration: line-through;
}

.hero-course__button {
    padding: 0.8rem 2rem;
    transition: all 0.3s ease;
}

.hero-course__button--enroll {
    background: #66BB6A;
    border-color: transparent;
    color: #FFF;
}

.hero-course__button--enroll:hover {
    background: #388E3C;
}