@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar__logo {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 700;
}

.navbar__notch {
    background: #F7F7F7;
    padding: 8px 20px 8px 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 2rem;
    border: 1px solid #CCC;
}

.navbar__notch p {
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
}

.navbar__notch p::before {
    position: absolute;
    content: "";
    background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.navbar__notch a {
    font-size: 0.9rem;
    font-weight: 600;
    position: relative;
}

.navbar__notch a::before {
    position: absolute;
    content: "New";
    padding: 2px 6px;
    background: #D85F44;
    color: #FFF;
    font-size: 0.7rem;
    border-radius: 10px;
    top: -18px;
    right: -12px;
}

.navbar__menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar__menu-link {
    font-size: 0.8rem;
    font-weight: 600;
    background: #F7F7F7;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #CCC;
    transition: all 0.3s ease;
}

.navbar__menu-link:hover,
.hero-course__mode-option.selected,
.hero-course__duration-option.selected {
    background: #EDEFDE;
    border-color: transparent;
}

.hero {
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
    gap: 3rem;
    padding: 0 40px;
}

.hero__image {
    width: 50%;
    height: 90%;
    border-radius: 3rem;
}

.hero-course {
    width: 50%;
}

.hero-course__title {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.hero-course__author {
    display: inline;
    font-weight: 600;
    margin-right: 1rem;
}

.hero-course__rating {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.hero-course__stars {
    display: flex;
    font-size: 1rem;
}

.hero-course__reviews {
    font-size: 0.8rem;
    font-weight: 600;
}

.hero-course__label {
    margin: 1.5rem 0 0.7rem;
    font-size: 1rem;
}

.hero-course__mode-option,
.hero-course__duration-option,
.hero-course__button {
    padding: 0.4rem 1rem;
    margin-left: 0.4rem;
    border-radius: 2rem;
    background: #FFF;
    border: 1px solid #CCC;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-course__mode-option:hover,
.hero-course__duration-option:hover,
.hero-course__button:hover {
    background: #F7F7F7;
}

.hero-course__actions {
    margin-top: 2rem;
}

.hero-course__price {
    font-weight: 700;
    margin-left: 1.2rem;
    font-size: 1.2rem;
}

.hero-course__price-original {
    margin-left: 0.6rem;
    color: #808080;
    text-decoration: line-through;
}

.hero-course__button {
    padding: 0.8rem 2rem;
    transition: all 0.3s ease;
}

.hero-course__button--enroll {
    background: #66BB6A;
    border-color: transparent;
    color: #FFF;
}

.hero-course__button--enroll:hover {
    background: #388E3C;
}

.separator {
    display: block;
    margin: 4rem 0 4rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding: 0 40px;
}

.program,
.career {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 40px;
}

.program__image,
.career__image {
    width: 45%;
}

.program__image-photo,
.career__image-photo {
    width: 100%;
    height: 540px;
    border-radius: 2rem;
}

.program__info,
.career__details,
.about__details {
    width: 55%;
}

.program__title,
.career__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.program__description,
.career.description {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
}

.program__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.program__label {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.program__duration-list,
.program__format-list {
    list-style: none;
}

.program__duration-item,
.program__format-item {
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
}

.course-list {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 40px;
}

.course-list__item {
    width: 25%;
}

.course-list__item-image {
    width: 100%;
    height: 400px;
    border-radius: 2rem;
}

.course-list__item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.6rem 0 1.5rem;
}

.course-list__item-title,
.course-list__item-price {
    font-weight: 600;
}

.course-list__item-price span {
    font-size: 0.8rem;
    font-weight: 500;
}

.course-list__item-description {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: justify;
}

.course-list__item-button {
    padding: 0.5rem 1.2rem;
    border: 1px solid #CCC;
    border-radius: 2rem;
    background: #FFF;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.course-list__item-button:hover {
    background: #EBEDDF;
    border-color: transparent;
}

.career {
    margin-top: 5rem;
}

.career__benefits {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}

.career__benefit-title {
    margin-bottom: 0.4rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.career__benefit-description {
    font-size: 0.9rem;
}

.about {
    background-color: #A7D4FD;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #A7D4FD 40px), repeating-linear-gradient(#9CCFFA55, #9CCFFA);
    height: 440px;
    margin-top: 5rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 2rem 0rem 2rem 6rem;
    gap: 5rem;
    margin: 80px 40px 0 40px;
}

.about__image {
    width: 27%;
    height: 85%;
    transform: rotate(-10deg);
    border-radius: 2rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.about__details-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.about__details-description {
    color: #424242;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.about__details-button {
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about__details-button:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.gradient {
    background: linear-gradient(180deg, #FFF 0%, #E0F2FF 20%, #B0D4FF 100%);
    margin-top: 5rem;
}

.subscription {
    text-align: center;
    padding: 60px 40px;
}

.subscription__title {
    font-size: 2.5rem;
    font-weight: 600;
}

.subscription__description {
    margin: 1rem 0 2rem;
}

.subscription__form {
    position: relative;
    background: #FFF;
    display: inline;
    padding: 0.6rem 0.4rem 0.7rem;
    border-radius: 2rem;
}

.subscription__input {
    padding: 0.4rem;
    width: 320px;
    border: none;
    outline: none;
}

.subscription__button {
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 2rem;
    background: #A2CFF8;
    cursor: pointer;
    transition: all 0.3s ease;
}

.subscription__button:hover {
    background: #83BFF5;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-top: 4rem;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__link {
    transition: all 0.3s ease;
}

.footer__link:hover {
    transform: translateX(8px);
}

.footer__brand-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.footer__copyright {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .navbar__notch,
    .program__image {
        display: none;
    }

    .navbar__menu {
        gap: 0.6rem;
    }

    .hero-course__mode-option {
        margin-left: 0 !important;
    }

    .program {
        flex-direction: column;
    }

    .program__info {
        width: 100%;
    }

    .program__details {
        justify-content: space-around;
    }

    .course-list {
        flex-wrap: wrap;
    }

    .course-list__item {
        width: 46%;
    }

    .about {
        padding: 1rem 0rem 1rem 4rem;
    }

    .about__image {
        width: 30%;
        height: 80%;
    }

    .about__details-title {
        font-size: 2.2rem;
    }

    .about__details-description {
        font-size: 0.9rem;
    }

    .footer-links {
        justify-content: space-between;
    }
}
